<%- include("partials/header", { title: "Dashboard" }) %>

<div class="page-container">
    <h1>Dashboard</h1>
    <p>Welcome, <%= currentUser.username %></p>
    <div>
        <h2>Your Folders</h2>
        <% if (folders && folders.length > 0) { %>
            <ul>
                <% folders.forEach(folder => { %>
                    <li>
                        <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>You have no folders yet.</p>
        <% } %>
    </div>
    <form action="/folders" method="POST">
        <%- include("partials/error") %>
        <h2>
            Create a New Folder
        </h2>

        <% const nameError = errors.find(error => error.path === "name") %>
        <div>
            <label for="name">Folder Name:</label>
            <input type="text" id="name" name="name" value="<%= data.name || '' %>" class="<%= nameError ? 'input-error' : '' %>" required>
        </div>
        <button type="submit">Create Folder</button>
    </form>
</div>

<%- include("partials/footer") %>