<%- include("partials/header", { title: "Sign Up" }) %>

<div class="page-container">
    <h1>Sign Up</h1>
    <%- include("partials/error") %>
    <form action="/sign-up" method="POST">
        <%
        const usernameError =
            errors.find(error => error.path === "username");

        const passwordError =
            errors.find(error => error.path === "password");

        const confirmPasswordError =
            errors.find(error => error.path === "confirmPassword");
        %>

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="<%= data.username || '' %>" class="<%= usernameError ? 'input-error' : '' %>" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="<%= passwordError ? 'input-error' : '' %>" required>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="<%= confirmPasswordError ? 'input-error' : '' %>" required>
        </div>

        <button type="submit">Create Account</button>
    </form>
</div>

<%- include("partials/footer") %>